<h3>Create a new list</h3>

<p>
  Pick a name for your list and then you can start adding new movies to the list!
</p>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, placeholder: 'Drama' %>
  <%= f.submit class: 'btn btn-primary' %> or
  <%= link_to 'Cancel', lists_path, class: 'text-danger' %>
<% end %>
      